@import "../lib/mixins.scss";

// FONT FAMILIES // note: refer to Big Book of Font Combinations for type pairing
$heading-font: Helvetica;
$reading-font: "Helvetica Neue";
$alternative-font: Arial;

// COLORS
$fair: #FFF;
$dark: #000;

$gold_light: #DBAE00;
$gold_medium: #B59003;
$gold_dark: #A07F02;

$yellow_light: #FAD449;
$yellow_dark: #F8BE17;

$blue_light: #219FC2;
$blue_dark: #0890B7;

$gray_light: #444848;
$gray_medium: #595a5a;
$gray_dark: #353737;

$font_gray: #969595;
$font_white_hover: #b0afae;


